<div class="container">

  <div class="row mb-3">
    <div class="col-md-4 mb-3">
      <img class="img-fluid d-block mx-auto" src="{{viewedUser.image}}" width="240" height="320" alt="avatar">
    </div>
    <div class="col-md-8">
      <h1 class="mb-3">{{viewedUser.name}}</h1>

      <ul class="list-unstyled mb-3">
        <li class="mb-4"><strong>Email:</strong> {{viewedUser.email}} </li>
        <li><strong>{{count viewedUser.commentedRestaurants}}</strong> 已評論餐廳</li>
        <li><strong>{{count viewedUser.FavoritedRestaurants}}</strong> 收藏的餐廳</li>
        <li><strong>{{count viewedUser.Followings}}</strong> 追蹤者</li>
        <li><strong>{{count viewedUser.Followers}}</strong> 追隨者</li>
      </ul>

      {{#ifCond viewedUser.id user.id}}
        <a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>
      {{/ifCond}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

       <div class="card mb-3">
        <div class="card-header">
          <strong>{{count viewedUser.Followings}}</strong> 追蹤者
        </div>
        <div class="card-body row">
          {{#each viewedUser.Followings}}
            <div class="col-6 col-md-4">
              <a href="/users/{{this.id}}">
                <img class="img-fluid d-block mx-auto" src="{{this.image}}" title="{{this.name}}" alt="{{this.name}}">
              </a>
            </div>
          {{/each}}
        </div>
      </div>     

      <div class="card">
        <div class="card-header">
          <strong>{{count viewedUser.Followers}}</strong> 追隨者
        </div>
        <div class="card-body row">
          {{#each viewedUser.Followers}}
            <div class="col-6 col-md-4">
              <a href="/users/{{this.id}}">
                <img class="img-fluid d-block mx-auto" src="{{this.image}}" title="{{this.name}}" alt="{{this.name}}">
              </a>
            </div>
          {{/each}}
        </div>
      </div>

    </div>

    <div class="col-md-8">
      
      <div class="card mb-3">
        <div class="card-header">
          <strong>{{count viewedUser.commentedRestaurants}}</strong> 已評論餐廳
        </div>
        <div class="card-body row">
          {{#each viewedUser.commentedRestaurants}}
            <div class="col-4 col-md-2">
              <a href="/restaurants/{{this.id}}">
                <img class="img-fluid d-block mx-auto" src="{{this.image}}" title="{{this.name}}" alt="{{this.name}}">
              </a>
            </div>
          {{/each}}
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <strong>{{count viewedUser.FavoritedRestaurants}}</strong> 收藏的餐廳
        </div>
        <div class="card-body row">
          {{#each viewedUser.FavoritedRestaurants}}
            <div class="col-4 col-md-2">
              <a href="/restaurants/{{this.id}}">
                <img class="img-fluid d-block mx-auto" src="{{this.image}}" title="{{this.name}}" alt="{{this.name}}">
              </a>
            </div>
          {{/each}}
        </div>
      </div>

    </div>
  </div>

</div>
